# Verktyg för att skapa seedningstabeller

Principer
* Stöd för seedningsgruppen
* Dra nytta av fler datapunkter än elitåkare

Begränsningar
* Saknar VasaID -> matchningen är undermålig
* Saknar startlista -> vet inte vilka av deltagarna som har för avsikt att seeda sig

Mål
* Förbättra underlag för tidsgränser i led 6+

Data
* Resultat från tidigare vasalopp (ett år bakåt i tiden - 2022)
* Seedningslista från tidigare vasalopp
* Resultat från seedningslopp (Engelbrektsloppet och Moraloppet 2023

Input
* Tidsgräns för elitledet (skiljer sig från lopp till lopp)
* Inställning för tidsgränser (median, 25 eller 75 percentilen)

Output
* Föreslagna tidsgränser baserade på median från respektive startled från vasaloppet 2022
* Tabell med antal seedade till respektive startled
* Confusion matrix?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from utils import VasaStartGroup
from constants import *

## Get data

In [2]:
vasaloppet_2022 = pd.read_csv("../data/vasaloppet_2022.csv")
engelbrekt_2023 = pd.read_csv("../data/engelbrekt_2023.csv")
moraloppet_2023 = pd.read_csv("../data/moraloppet_2023.csv")

In [3]:
start_group = VasaStartGroup(vasaloppet_2022, SEEDNING_VL_2022)

In [4]:
start_group.result_df

,Name,Team,Age class,Place (gender),Time,TimeInHours,Last,First,Country,StartGroup
0,"Nygaard, Andreas (NOR)",Team Ragde Charge,H21,1,03:32:18,3.538333,Nygaard,Andreas,NOR,VL0
1,"Öyre Slind, Astrid (NOR)",Team Koteng Eidissen,D21,1,03:50:06,3.835000,Öyre Slind,Astrid,NOR,VL0
2,"Persson, Emil (SWE)",Lager 157 Ski Team,H21,2,03:32:19,3.538611,Persson,Emil,SWE,VL0
3,"Johansson Norgren, Britta (SWE)",Lager 157 Ski Team,D35,2,03:52:53,3.881389,Johansson Norgren,Britta,SWE,VL0
4,"Jutterström, Axel (SWE)",Team Eksjöhus,H21,3,03:32:20,3.538889,Jutterström,Axel,SWE,VL0
...,...,...,...,...,...,...,...,...,...,...
12039,"Redestam, Patrick (SWE)",Helsingborgs SOK,H50,10056,12:17:12,12.286667,Redestam,Patrick,SWE,VL10
12040,"Schennings, Andreas (SWE)",Stockholms-Postens IK,H35,10057,12:17:56,12.298889,Schennings,Andreas,SWE,VL10
12041,"Hed, Stefan (SWE)","<span class=""text-muted"">–</span>",H40,10058,12:21:35,12.359722,Hed,Stefan,SWE,VL10
12042,"Westström, Frank (FIN)","<span class=""text-muted"">–</span>",H70,10059,12:22:26,12.373889,Westström,Frank,FIN,VL10
12043,"Bengtsson, Tommy (SWE)",IK Stern,H75,10060,12:23:38,12.393889,Bengtsson,Tommy,SWE,VL10

In [6]:
def q1(x):
    return x.quantile(0.25)

def q3(x):
    return x.quantile(0.75)

start_group.result_df.groupby("StartGroup").agg({"TimeInHours": ["count", "mean", "min", q1, "median", q3, "max"]}).loc[START_GROUPS].round(1)

           TimeInHours
                 count  mean   min    q1 median    q3   max
StartGroup
VL0                155   3.8   3.5   3.7    3.8   3.9   4.0
VL1                372   4.3   4.0   4.2    4.3   4.4   4.5
VL2                516   4.7   4.5   4.6    4.7   4.8   4.9
VL3               1044   5.3   4.9   5.1    5.3   5.4   5.6
VL4               1296   5.9   5.6   5.8    5.9   6.1   6.3
VL5               1333   6.6   6.3   6.4    6.6   6.8   6.9
VL6               1404   7.3   6.9   7.1    7.3   7.5   7.7
VL7               1443   8.1   7.7   7.9    8.1   8.4   8.6
VL8               2050   9.3   8.6   8.9    9.3   9.7  10.0
VL9               2344  10.9  10.0  10.4   10.9  11.4  12.0
VL10                87  12.1  12.0  12.1   12.1  12.2  12.4